[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*" # MySQL adapter(optional)
psycopg2-binary = "*" # PostgreSQL adapter
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
django-environ = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
redis = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"  # for auto-reloading tests
model-bakery = "*"
locust = "*"

[requires]
python_version = "3.13"
